@using PR_code_test.Models
@model MemberModel

@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);
}

@using (Html.BeginUmbracoForm("RenderForgotPassword", "Member", null, new { id = "forgotPasswordForm" }, FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <form>
        <div class="form-group">
            <p class="color_purple text-center">Provide your e-mail and we request a reset link for you.</p>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "color_fadePurple" })
            @Html.TextBoxFor(model => model.Email, new { type = "email", @class = "form-control background_pink" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div id="buttonFormSignIn" class="form-group">
            <input type="submit" class="" value="Send instructions" />
        </div>
    </form>
}