@using PR_code_test.Models
@model MemberModel


@{
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);

}


@using (Html.BeginUmbracoForm("RenderSignUp", "Member", null, new { id = "signUpForm" }, FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "color_fadePurple" })
        @Html.TextBoxFor(model => model.Name, new { type = "text", @class = "form-control background_pink", @autofocus = "autofocus" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "color_fadePurple" })
        @Html.TextBoxFor(model => model.Email, new { type = "email", id = "signUpEmail", @class = "form-control background_pink" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Password, new { @class = "color_fadePurple" })
        @Html.TextBoxFor(model => model.Password, new { type = "password", id = "signUpPassword", @class = "form-control background_pink", @placeholder = "6 characters minimum" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.RepeatPassword, new { @class = "color_fadePurple" })
        @Html.TextBoxFor(model => model.RepeatPassword, new { type = "password", id = "signUpRepeatPassword", @class = "form-control background_pink" })
        @Html.ValidationMessageFor(model => model.RepeatPassword)
    </div>
    <div id="buttonFormSignIn" class="form-group">
        <input type="submit" class="" value="@library.GetDictionaryItem("Sign up label")" />
    </div>
}